* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.google-sans-flex {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "ROND" 0;
}

/* using styles */

.btn-orange {
  padding: 0.5em 1.5em;
  border: none;
  background-color: #fd6e0a;
  color: white;
  font-size: 1.25em;
  border-radius: 5px;
  cursor: pointer;
}

.btn-transparent {
  padding: 0.5em 1.5em;
  border: none;
  background-color: transparent;
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  font-size: 1.25em;
  border-radius: 5px;
  cursor: pointer;
}

/* sequential styles */

body {
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #fff8f3;
  padding-top: 50px;
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71%;
  max-width: 1175px;
  margin-bottom: 30px;
}

nav div h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

nav div h2 span {
  color: #fd6e0a;
}

nav div ul {
  list-style-type: none;
}

nav div ul li a {
  text-decoration: none;
  margin: 0.5em 0;
}

.nav-links-container {
  display: flex;
  align-items: center;
  gap: 51px;
}

.nav-links-container a {
  color: #474747;
  font-size: 1.25em;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 0 225px;
}

.hero-left {
  margin: auto 0;
}

.hero-left h3 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 20px;
}

.hero-left h1 {
  font-size: 85px;
  font-weight: 700;
}

.hero-left p {
  font-size: 18px;
  color: #757575;
  height: 60px;
  width: 585px;
}

.hero-button-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.about-me {
  margin: 130px 230px;
  width: 1140px;
  height: 550px;
  padding: 131px 156px;
  background-color: #fff8f3;
  border-radius: 10px;
}

.about-me .header h3 {
  font-size: 35px;
  font-weight: bold;
}

.about-me-inner {
  text-align: center;
}

.about-me-inner .para {
  font-size: 18px;
  color: #757575;
  padding: 30px 0;
}

.about-me-inner-info {
  display: flex;
  justify-content: space-between;
}

.info-inner {
  color: #757575;
  font-size: 20px;
}

.info-inner .bold {
  color: #474747;
  font-weight: bold;
}

.what-i-do {
  margin: 130px 230px;
  text-align: center;
  margin-bottom: 50px;
}

.what-i-do h3 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.what-i-do p {
  font-size: 18px;
  color: #757575;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 0 230px;
  gap: 40px;
  margin-bottom: 130px;
}

.cards .card {
  background-color: #ffffff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  height: 350px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content-header {
  margin-bottom: 30px;
  color: rgba(24, 24, 24, 1);
}

.card-content-para {
  color: rgba(117, 117, 117, 1);
}

.resume-container {
  margin: 0 230px;
}

.resume-container .resume-header {
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 113px;
}

.resume-content {
  display: flex;
  gap: 30px;
}

.resume-content-left,
.resume-content-right {
  margin-bottom: 50px;
}

.resume-content-box h4 {
  font-size: 30px;
  font-weight: 700;
  color: rgba(71, 71, 71, 1);
  margin-bottom: 30px;
  line-height: 41px;
}

.resume-content-box h5 {
  font-size: 25px;
  font-weight: 700;
  color: rgba(71, 71, 71, 1);
  margin-bottom: 10px;
}

.resume-content-box h6 {
  font-size: 20px;
  font-weight: 600;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 20px;
}

.resume-content-box p {
  width: 511px;
  margin-bottom: 30px;
}

.resume-content-box .line {
  width: 558px;
  border: 1px solid rgba(209, 209, 209, 1);
  margin-bottom: 30px;
}

.resume-download {
  max-width: max-content;
  justify-self: center;
  margin-bottom: 113px;
}

.footer-container {
  background: rgba(255, 248, 243, 1);
  padding: 130px 230px;
  display: flex;
  gap: 117px;
}
.footer-left {
  flex: 1;
}

.footer-right {
  flex: 1;
}

.footer-header {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-left p {
  color: rgba(71, 71, 71, 1);
  margin-bottom: 30px;
}

.footer-left-icons {
  display: flex;
  gap: 24px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-form input,
textarea {
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
  line-height: 28px;
  border: none;
  padding: 18px 33px;
  font-family: "Google Sans Flex";
}

.submit {
  max-width: max-content;
  margin-bottom: 130px;
}
