* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.google-sans-flex {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "ROND" 0;
}

/* using styles */

.btn-orange {
  padding: 0.5em 1.5em;
  border: none;
  background-color: #fd6e0a;
  color: white;
  font-size: 1.25em;
  border-radius: 5px;
  cursor: pointer;
}

.btn-transparent {
  padding: 0.5em 1.5em;
  border: none;
  background-color: transparent;
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  font-size: 1.25em;
  border-radius: 5px;
  cursor: pointer;
}

/* sequential styles */

body {
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #fff8f3;
  padding-top: 50px;
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71%;
  max-width: 1175px;
}

nav div h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

nav div h2 span {
  color: #fd6e0a;
}

nav div ul {
  list-style-type: none;
}

nav div ul li a {
  text-decoration: none;
  margin: 0.5em 0;
}

.nav-links-container {
  display: flex;
  align-items: center;
  gap: 51px;
}

.nav-links-container a {
  color: #474747;
  font-size: 1.25em;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 0 225px;
}

.hero-left {
  margin: auto 0;
}

.hero-left h3 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 20px;
}

.hero-left h1 {
  font-size: 85px;
  font-weight: 700;
}

.hero-left p {
  font-size: 18px;
  color: #757575;
  height: 60px;
  width: 585px;
}

.hero-button-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.about-me {
  margin: 130px 230px;
  width: 1140px;
  height: 550px;
  padding: 131px 156px;
  background-color: #fff8f3;
  border-radius: 10px;
}

.about-me .header h3 {
  font-size: 35px;
  font-weight: bold;
}

.about-me-inner {
  text-align: center;
}

.about-me-inner .para {
  font-size: 18px;
  color: #757575;
  padding: 30px 0;
}

.about-me-inner-info {
  display: flex;
  justify-content: space-between;
}

.info-inner {
  color: #757575;
  font-size: 20px;
}

.info-inner .bold {
  color: #474747;
  font-weight: bold;
}

.what-i-do {
  margin: 130px 230px;
  text-align: center;
  margin-bottom: 50px;
}

.what-i-do h3 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.what-i-do p {
  font-size: 18px;
  color: #757575;
  text-align: center;
}
